@using Westwind.AspNetCore.Markdown
@using WePrint
@model project

@section Head
{
    <style>
        img.avatar {
            width: 100px;
            height: 100px;
        }
    </style>
}

<a href="#" onclick="window.history.back()">Go Back</a>
<hr />

<dl>
    <dt>Id</dt>
    <dd><a href="@Url.GetReactUrl(Model)">@Model.Id</a></dd>

    <dt>Title</dt>
    <dd>@Model.title</dd>

    <dt>Thumbnail</dt>
    <dd>
        <img class="avatar" src="@Url.Action("get_thumbnail", "project_controller", new { Area = "", id = Model.Id })" />
    </dd>

    <dt>Description</dt>
    <dd>
        @Markdown.ParseHtmlString(Model.description)
    </dd>

    <dt>Goal</dt>
    <dd>@Model.goal</dd>

    <dt>Shipping Instructions</dt>
    <dd>@Markdown.ParseHtmlString(Model.shipping_instructions ?? "")</dd>

    <dt>Printing Instructions</dt>
    <dd>@Markdown.ParseHtmlString(Model.printing_instructions ?? "")</dd>

    <dt>Address</dt>
    <dd>
        @Html.Lines(Model.address ?? "(none given)")
    </dd>
    
    <dt>Closed</dt>
    <dd>@Model.closed</dd>
    
    <dt>OpenGoal</dt>
    <dd>@Model.open_goal</dd>
    
    <dt>Organization</dt>
    <dd><a asp-action="Details" asp-controller="Organizations" asp-route-id="@Model.organization.Id">@Model.organization.name</a></dd>

    <dt>Pledges</dt>
    <dd>
        <ul>
        @foreach (var pledge in Model.pledges)
        {
            <li>
                @pledge.quantity Units by <a asp-action="Details" asp-controller="Users" asp-route-id="@pledge.maker.Id">@pledge.maker.UserName</a>. Status: @pledge.status
            </li>
        }
        </ul>
    </dd>
    
    <dt>Pledging Users</dt>
    <dd>
        <ul>
        @foreach (var user in Model.pledges.Select(x => x.maker).Distinct())
        {
            <li><a asp-action="Details" asp-controller="Users" asp-route-id="@user.Id">@user.UserName</a></li>
        }
        </ul>
    </dd>

    <dt>Updates</dt>
    <dd>
        <ul>
            @foreach (var update in Model.updates)
            {
                <li>@update.title -- Posted by @update.posted_by.UserName</li>
            }
        </ul>
    </dd>
</dl>

<h3>Actions</h3>
<ul>
    @if (Model.Deleted)
    {
        <li><a asp-action="Delete" asp-route-id="@Model.Id">Delete Permanently</a></li>
        <li><a asp-action="Restore" asp-route-id="@Model.Id">Restore</a></li>
    }
    else
    {
        <li><a asp-action="Delete" asp-route-id="@Model.Id">Delete Project</a></li>
    }
</ul>