@using WePrint
@model IQueryable<User>

<h3>Users</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Pledges</th>
            <th scope="col">Devices</th>
            <th scope="col">Organization</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Where(x => !x.Deleted))
        {
            <tr>
                <th scope="row"><a asp-action="Details" asp-route-id="@user.Id">@user.ShortId()</a></th>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Pledges.Count</td>
                <td>@user.Printers.Count</td>
                @if (user.Organization == null)
                {
                    <td></td>
                }
                else
                {
                    <td><a asp-action="Details" asp-controller="Organizations" asp-route-id="@user.Organization.Id">@user.Organization.Name</a></td>
                }
            </tr>
        }
    </tbody>
</table>

<h3>Deleted Users</h3>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Pledges</th>
        <th scope="col">Devices</th>
        <th scope="col">Organization</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Where(x => x.Deleted))
    {
        <tr>
            <th scope="row"><a asp-action="Details" asp-route-id="@user.Id">@user.ShortId()</a></th>
            <td>@user.UserName</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Pledges.Count</td>
            <td>@user.Printers.Count</td>
            @if (user.Organization == null)
            {
                <td></td>
            }
            else
            {
                <td><a asp-action="Details" asp-controller="Organizations" asp-route-id="@user.Organization.Id">@user.Organization.Name</a></td>
            }
        </tr>
    }
    </tbody>
</table>